<!doctype html>
<html>

	<head>

		<link rel="stylesheet" type="text/css" href="../static/style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
		<script src="https://d3js.org/d3-selection.v1.min.js"></script>
		<script src="https://d3js.org/d3-drag.v1.min.js"></script>
		<script>

		var drag = d3.drag();

		</script>

		<title></title>

	</head>

	<body>

		<div class = "left-panel">
			<div class = "create-button">
				create obj
			</div>
		</div>
		<div class = "canvas-panel">
			pLIS
		</div>

	</body>

</html>